// ==========================================================================
// LINKS/BUTTONS
// ==========================================================================

// ==========================================================================
// - BASE
// ==========================================================================

a,
.faux-link {
	color: $link-color-default;
	text-decoration: underline;
	transition-duration: $site-base-transition;
	transition-property: color, background-color, border-color;
	font-weight: 700;
	text-decoration: none;
}

button {
	transition-duration: $site-base-transition;
	transition-property: color, background-color, border-color;
}

a {
	&:focus,
	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}

	&:active {
		color: $link-color-active;
	}
}

@mixin button($default, $hover, $active) {
	font-size: 16px;
	line-height: 1.5;
	transition-duration: $site-base-transition;
	transition-property: color, background-color, border-color;
	display: inline-block;
	outline: none; // this is OK because we have a focus state
	color: nth($default, 1);
	background-color: nth($default, 2);
	border: 1px solid nth($default, 3);
	font-weight: 500;
	text-decoration: none;
	padding: 12px 40px;
	text-align: center;
	width: 100%;

	&:hover,
	&:focus {
		color: nth($hover, 1);
		background-color: nth($hover, 2);
		border-color: nth($hover, 3);
		text-decoration: none;
	}

	&:active {
		color: nth($active, 1);
		background-color: nth($active, 2);
		border-color: nth($active, 3);
	}

	&[disabled] {
		cursor: default;
		color: $brand-grey-dark;
		background-color: $brand-grey-light;
		border-color: $brand-grey-light;
	}

	@include bp(m) {
		width: auto;
	}
}

@mixin cta-base() {
	@include button(
		$brand-white $brand-primary $brand-primary,
		$brand-white $brand-tertiary $brand-tertiary,
		$brand-white $brand-tertiary $brand-tertiary
	);
}

@mixin cta-secondary() {
	@include button(
		$brand-primary transparent $brand-primary,
		$brand-white $brand-primary $brand-primary,
		$brand-white $brand-primary $brand-primary
	);
}

@mixin cta-secondary-forest() {
	@include button(
		$bom-forest transparent $bom-forest,
		$brand-white $bom-forest $bom-forest,
		$brand-white $bom-forest $bom-forest
	);
}

@mixin cta-secondary-grape() {
	@include button(
		$bom-grape transparent $bom-grape,
		$brand-white $bom-grape $bom-grape,
		$brand-white $bom-grape $bom-grape
	);
}

@mixin cta-secondary-cherry() {
	@include button(
		$bom-cherry transparent $bom-cherry,
		$brand-white $bom-cherry $bom-cherry,
		$brand-white $bom-cherry $bom-cherry
	);
}

@mixin cta-is-small() {
	font-size: 13px;
	line-height: 2.2308;
	padding: 3px 15px;
}

.cta {
	@include cta-base();

	&.is-secondary {
		@include cta-secondary();
	}

	&.is-small {
		@include cta-is-small();
	}

	&.is-full {
		width: 100%;
	}

	&.loading {
		position: relative;

		//&::after {
		//	content: '';
		//	display: inline-block;
		//	position: absolute;
		//	right: 50px;
		//	width: 50px;
		//	height: 50px;
		//	background-image: url(require('./static/ring-spinner.svg'));
		//	background-repeat: no-repeat;
		//	background-size: 50px 50px;
		//}
    }

	&.cta-plus {
		position: relative;
		padding: 12px 40px 12px 50px;

		&::before {
			content: '+';
			position: absolute;
			left: 25px;
			top: 6px;
			font-size: 24px;
		}

	}
}

.bom-forest {
	.cta.is-secondary {
		@include cta-secondary-forest();
	}
}

.bom-grape {
	.cta.is-secondary {
		@include cta-secondary-grape();
	}
}

.bom-cherry {
	.cta.is-secondary {
		@include cta-secondary-cherry();
	}
}


// variations to help the CMS put single class names into the RTE
.cta-is-small {
	@include cta-base();
	@include cta-is-small();
}

.cta-is-secondary {
	@include cta-secondary();
}

.cta-is-secondary-small {
	@include cta-secondary();
	@include cta-is-small();
}

// ==========================================================================
// LINKS WITH ICONS
// ==========================================================================

.link-caret,
.link-external {
	display: inline-block;

	.l-complementary & {
		display: block;
		margin-bottom: 20px;
	}

	.link-icon {
		@include peicon-dual(20px, 20px, right, center);
		padding-right: 20px;
		position: relative;
	}

	&::after {
		content: "";
		display: inline-block;
		width: 18px;
		height: 9px;
		margin-left: 10px;
		transform: translate(0px);
		transition: transform 300ms ease-in-out;
	}

	&:hover,
	&:focus {
		.link-icon {
			@include peicon-dual-active();
		}

		&::after {
			transform: translate(10px);
			transition: transform 300ms ease-in-out;
		}
	}
}

.link-caret-block {
	@include peicon-dual(20px, 20px, right, center, true);
	padding-right: 30px;
	position: relative;
}

.link-icon {
	border: none;
	padding: 0;
	background: transparent;
	width: 44px;
	height: 40px;
	position: relative;
	outline: none;
	line-height: 1;

	.icon {
		width: 20px;
		height: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;

		& + .icon {
			display: none;
		}
	}

	path {
		transition: fill $site-base-transition;
	}

	&:hover,
	&:focus {
		path {
			fill: $link-color-hover;
		}
	}

	&:active {
		path {
			fill: $link-color-active;
		}
	}
}
