// ==========================================================================
// RICH TEXT
// ==========================================================================

// ==========================================================================
// - HEADINGS
// ==========================================================================

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@include font-feature();
	color: $heading-color;
	margin: $margins-text 0 $margins-text-small;

	&:first-child {
		margin-top: 0;
	}
}

@mixin heading-font-size($id) {
	@if $id == h1 {
		font-size: 24px;
		line-height: 1.2;
	} @elseif $id == h2 {
		font-size: 22px;
		line-height: 1.1667;
	} @elseif $id == h3 {
		font-size: 20px;
		line-height: 1.125;
	} @elseif $id == h4 {
		font-size: 18px;
		line-height: 1.1538;
	} @elseif $id == h5 {
		font-size: 16px;
		line-height: 1.1818;
	} @elseif $id == h6 {
		font-size: 16px;
		line-height: 1.2;
	}
}

h1,
.h1 {
	@include heading-font-size(h1);
}

h2,
.h2 {
	@include heading-font-size(h2);
}

h3,
.h3 {
	@include heading-font-size(h3);
}

h4,
.h4 {
	@include heading-font-size(h4);
}

h5,
.h5 {
	@include heading-font-size(h5);
}

h6,
.h6 {
	@include heading-font-size(h6);
}

// ==========================================================================
// - BASE TEXT
// ==========================================================================

p,
pre,
dl,
menu,
ol,
ul {
	margin: $paragraph-margin;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

hr {
	margin: 30px 0;
	border: none;
	background-color: $brand-grey-border;
	height: 1px;
}

// ==========================================================================
// - BASE LIST STYLES
// ==========================================================================

li {
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}

	li:first-child {
		margin-top: 10px;
	}
}

ul,
ol {
	padding-left: 15px;

	ul,
	ol {
		margin-bottom: 0;
	}
}

dl {
	dt {
		color: $heading-color;
		font-weight: bold;
		margin-top: 10px;

		& + dt {
			margin-top: 0;
		}
	}

	dd {
		margin-left: 0;
	}
}

// ==========================================================================
// - RTE TEXT CLASSES
// ==========================================================================

.intro {
	@include font-base();
	font-size: 18px;
	line-height: 1.77;
	color: $paragraph-color;
}

// ==========================================================================
// - FIGURES
// ==========================================================================

figure {
	margin: 40px 0;
	position: relative;

	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}

	figcaption {
		font-size: 12px;
		line-height: 1.33;
		margin-top: 10px;

		p {
			margin: 0;
		}
	}
}

// ==========================================================================
// BLOCK QUOTE
// ==========================================================================

blockquote {
	@include font-feature();
	font-size: 36px;
	line-height: 1.33;
	color: $brand-primary;
	margin: 40px 0;
	font-weight: 400;

	footer {
		@include font-base();
		font-size: 12px;
		margin-top: 10px;
		color: $paragraph-color;
		font-weight: 600;
	}
}

// ==========================================================================
// CODE
// ==========================================================================

code {
	tab-size: 4;
}

p > code,
li > code {
	background: $brand-grey-light;
}
