// ==========================================================================
// ASIDE NAVIGATION
// ==========================================================================

.sticky-wrapper {

	@include bp(0, m) {

		div {
			padding: 0 !important;
		}

		.sidemenu {
			position: relative !important;
			top: 0px !important;
			transform: inherit !important;
			left: auto !important;
			//margin-bottom: 60px;
		}
	}

}

.nav-aside {
	margin-bottom: 40px;

	h6 {
		@include font-feature();
		font-size: 12px;
		font-weight: 500;
		color: $brand-dark-grey;
		margin: 0 0 10px;
	}

	ul {
		@include list-reset();
	}

	a {
		font-size: 16px;
		line-height: 40px;
		display: inline-block;
		text-decoration: none;
		color: $brand-tertiary;
		cursor: pointer;
		transform: translate(0px);
		//transition: transform 250ms ease-in-out;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
			color: $brand-primary;
			//transform: translate(10px);
			//transition: transform 250ms ease-in-out;

			&::before {
				right: 0;
			}
		}

		&::before {
			content: "";
			position: absolute;
			z-index: -1;
			left: 0;
			right: 100%;
			bottom: 6px;
			background: $brand-primary;
			height: 1px;
			transition-property: right;
			transition-duration: 0.3s;
			transition-timing-function: ease-out;
		}

	}

	li {
		position: relative;
		//border-bottom: 1px solid $brand-grey-border;
		margin: 0;

		li {
			border-bottom: none;
			margin: 0;
		}

		ul {
			padding-left: 10px;
		}
	}

	.has-children {
		a:first-child {
			padding-right: 40px;
		}

		.expandcollapse {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 56px;
		}
	}

	.nav-lvl1 {
		font-weight: 500;
		padding: 16px 0;
	}

	.nav-lvl2,
	.nav-lvl3,
	.nav-lvl4 {
		padding: 14px 0;
	}

	.is-active > a {
		text-decoration: none;
		cursor: default;
		color: $link-color-hover;

		&::before {
			right: 0;
		}

		&::after {
			display: block;
			opacity: 1;
		}
	}
}
