// ==========================================================================
// OFFSCREEN NAVIGATION
// ==========================================================================

$OFFSCREEN_ANIMATION_TYPE: "over"; // can be "side", "over" or "full"

// ==========================================================================
// - FUNCTIONAL
// ==========================================================================

.offscreen-panel {
	display: block;
}

// fallback no JS support
.supports-no-js .offscreen-panel {
	position: absolute;
	display: block;
	top: 0;
	-webkit-overflow-scrolling: touch;
	left: -9999px;

	&:target {
		left: 0;
	}

	&.is-right {
		left: auto;
		right: -9999px;

		&:target {
			left: auto;
			right: 0;
		}
	}

	.offscreen-content {
		padding: 0;
		width: auto;
		max-width: none;
		position: relative;
	}
}

.supports-js {
	.offscreen-panel {
		position: absolute;
		display: none;
		top: 0;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&.is-active {
			display: block;
		}

		.offscreen-content {
			padding: 0;
			max-width: none;
			position: relative;
			width: 100%;
			height: 100%;
			overflow-x: hidden;
		}
	}
}

// touch states to ensure you can't interact with items that aren't visible
.offscreen-is-open {
	// offscreen navigation
	.offscreen-panel.is-active {
		// note that the defaults are different here
		// this is to resolve text selection bugs in iOS Safari
		-webkit-touch-callout: default;
		user-select: text;
	}

	// page content
	.page-wrap {
		// ensures the user can't select any text inside the page when the navigation is open
		-webkit-touch-callout: none;
		user-select: none;
	}
}

@if $OFFSCREEN_ANIMATION_TYPE == "over" {
	.supports-js {
		//offscreen navigation
		.offscreen-panel {
			position: fixed;
			height: 100%;
			width: $nav-offscreen-width;
			z-index: $z-index-offscreen-over;
			overflow: hidden;
			// @include backface-visibility(hidden); // stops animation issues inside the area
			left: -$nav-offscreen-width;

			&.is-right {
				left: auto;
				right: -$nav-offscreen-width;
			}
		}

		&.offscreen-use-translate .offscreen-panel {
			left: 0;
			transform: translate3d(-$nav-offscreen-width, 0, 0);

			&.is-right {
				left: auto;
				right: 0;
				transform: translate3d($nav-offscreen-width, 0, 0);
			}
		}
	}

	.offscreen-is-open {
		// navigation drawer
		.offscreen-panel.is-active {
			left: 0;

			&.is-right {
				left: auto;
				right: 0;
			}
		}

		&.offscreen-use-translate .offscreen-panel.is-active {
			left: 0;
			transform: translate3d(0, 0, 0);

			&.is-right {
				left: auto;
				right: 0;
				transform: translate3d(0, 0, 0);
			}
		}
	}
} @else if $OFFSCREEN_ANIMATION_TYPE == "side" {
	.supports-js {
		//offscreen navigation
		.offscreen-panel {
			position: fixed;
			height: 100%;
			z-index: $z-index-offscreen-side;
			overflow: hidden;
			left: -$nav-offscreen-width;
			width: $nav-offscreen-width + 1px; //requires a little bit extra width to stop device display issues
			backface-visibility: hidden;

			&.is-right {
				left: auto;
				right: -$nav-offscreen-width;
				width: $nav-offscreen-width;
			}
		}

		// parallax effect
		.offscreen-content {
			left: 50%;

			&.is-right {
				left: -50%;
			}
		}

		&.offscreen-use-translate .offscreen-content {
			left: 0;
			transform: translate3d(50%, 0, 0);

			&.is-right {
				left: 0;
				transform: translate3d(-50%, 0, 0);
			}
		}

		// page content
		.page-wrap {
			left: 0;
		}
	}

	.offscreen-is-open {
		.offscreen-panel {
			left: 0;

			&.is-right {
				left: auto;
				right: 0;
			}
		}

		// parallax effect
		.offscreen-content {
			left: 0;
		}

		&.offscreen-use-translate .offscreen-content {
			transform: translate3d(0, 0, 0);
		}

		// page content
		.page-wrap {
			left: $nav-offscreen-width;

			&.is-right {
				left: -$nav-offscreen-width;
			}
		}
	}
} @else if $OFFSCREEN_ANIMATION_TYPE == "full" {
	.supports-js {
		//offscreen navigation
		.offscreen-panel {
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: $z-index-offscreen-over;
			overflow: hidden;
			left: -100%;
			backface-visibility: hidden;
		}
	}

	.offscreen-is-open {
		.offscreen-panel {
			left: 0;
		}
	}
}

// ==========================================================================
// - DESIGN
// ==========================================================================

// Colour variations
.offscreen-panel {
	background-color: $brand-grey-light;
	outline: none;

	@mixin nav-level-link-style() {
		font-size: 14px;
		line-height: 1.71;
		display: block;
		text-decoration: none;
		color: $brand-black;
		position: relative;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: $link-color-hover;
		}

		&:active {
			color: $link-color-active;
		}
	}

	@if $OFFSCREEN_ANIMATION_TYPE == "side" {
		.supports-pointerevents & {
			min-height: 100%;

			// if pointer-events: none is supported add the dropshadow inside the nav which can't be clicked and
			// and doesn't stop links under it from being clicked
			&::after {
				position: absolute;
				width: 40px;
				height: 100%;
				top: 0;
				content: " ";
				z-index: $z-index-pull-to-top;

				pointer-events: none;
				backface-visibility: hidden; // stops animation issues inside the area

				background: transparent url("/assets/img/support/right-edge-inner-shadow.png") repeat-y right top / 50% 50%;
				right: 0;
			}

			&.is-right:after {
				background: transparent url("/assets/img/support/left-edge-inner-shadow.png") repeat-y left top;
				left: -1px;
			}
		}
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $brand-grey-dark;
	}

	.nav-header {
		@include cf();
		border-bottom: 1px solid $brand-grey-border;
		background-color: $brand-white;
		padding: 11px 25px;

		.logo {
			float: left;
			margin-left: -10px;
		}

		.nav-close {
			float: right;
			margin: -3px -20px 0 0;
		}
	}

	.icon-button {
		@include nav-level-link-style;
		@include peicon-dual(22px, 22px, 24px, center, true);
		padding: 16px 25px 16px 60px;
	}

	ul {
		@include list-reset();
	}

	a {
		@include nav-level-link-style();
	}

	li {
		position: relative;
		border-bottom: 1px solid $brand-grey-border;
		margin: 0;

		li {
			margin: 0;
			border-bottom: none;
			border-top: 1px solid $brand-grey-border;
		}
	}

	.has-children {
		a:first-child {
			padding-right: 55px;
		}

		.expandcollapse {
			position: absolute;
			top: 0;
			right: 0;
			width: 55px;
			height: 56px;

			.ec {
				right: 15px;
			}
		}
	}

	.nav-lvl1 {
		font-weight: 500;
		padding: 16px 25px;
	}

	.nav-lvl2,
	.nav-lvl3 {
		padding: 14px 25px;
	}

	.nav-lvl2 {
		padding-left: 25px + 20px;
	}

	.nav-lvl3 {
		padding-left: 25px + 40px;
	}

	.is-active > a {
		text-decoration: none;
		cursor: default;
		color: $link-color-hover;

		&::before {
			display: none;
		}

		&::after {
			display: block;
			opacity: 1;
		}
	}
}
