// ==========================================================================
// ONSCREEN NAVIGATION
// ==========================================================================

// ==========================================================================
// - FUNCTIONAL DROPDOWN
// ==========================================================================

@include bp(l) {
	.nav-onscreen .nav a + .dropdown {
		position: absolute;
		z-index: 3;
		margin-left: -99999px;

		.supports-js & {
			opacity: 0;
			transform: translateZ(0);
		}
	}

	.supports-js .nav-onscreen .nav li.is-hover .dropdown {
		margin-left: 0;
		opacity: 1;
	}

	// no js version of menu
	.supports-no-js {
		.nav-onscreen .nav {
			li:hover a + .dropdown,
			a:hover + .dropdown,
			a:focus + .dropdown,
			a:active + .dropdown {
				margin-left: 0;
			}
		}
	}
}

// ==========================================================================
// - DESIGN
// ==========================================================================

.nav-onscreen {
	display: none;  // only displayed on large breakpoints
	z-index: $z-index-header;
	float: right;

	// Making this a mixin so it can apply to the login button
	// and top level nav items.
	@mixin nav-button-style() {
		font-size: 17px;
		line-height: 1.17;
		display: block;
		color: $paragraph-color;
		padding: 10px 0 0;
		margin-left: 20px;
		position: relative;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $link-color-hover;
		}

		&:active {
			color: $link-color-active;
		}

		@include bp(xl) {
			margin-left: 30px;
		}
	}

	@include bp(l) {
		display: block;

		.icon-button {
			float: left;
			padding-left: 30px;

			@include nav-button-style();
			@include peicon-dual(22px, 22px, 0, bottom, true);
		}

		> ul {
			float: left;
		}

		ul {
			@include list-reset();
		}

		li {
			margin: 0;
		}

		.nav > li {
			float: left;

			& > a {
				@include nav-button-style();
			}

			&.is-active > a,
			&.is-active-parent > a {
				color: $link-color-hover;
			}

			&:first-child > a {
				margin-left: 0;
			}
		}

		.dropdown {
			left: 0;
			margin-top: 30px;
			width: 100%;
			background-color: $brand-grey-light;
			z-index: $z-index-dropdown;
			box-shadow: 3px 4px 5px 0 rgba($brand-black, 0.2);
			padding: 20px 0;

			& > .l-padding > ul {
				margin: 0 -18px;

				& > li {
					float: left;
					padding: 20px 18px;
					width: 25%;
					position: relative;
					margin: 0;

					&::before {
						content: "";
						display: block;
						width: calc(100% - 36px);
						height: 1px;
						background-color: $brand-grey-border;
						position: absolute;
						top: 0;
						left: 18px;
					}

					&:nth-child(-n+4) {
						&::before {
							display: none;
						}
					}
				}
			}

			li li {
				margin-top: 20px;
			}

			.nav-lvl2 {
				@include font-feature();
				font-size: 20px;
				line-height: 1.3;
				display: block;
				text-decoration: none;
				color: $heading-color;

				&:hover,
				&:focus {
					color: $link-color-hover;
				}

				&:active {
					color: $link-color-active;
				}
			}

			.nav-lvl3 {
				font-size: 14px;
				line-height: 1.4286;
				display: block;
			}

			.is-active > a {
				color: $link-color-hover;

				&::before {
					display: none;
				}

				&::after {
					display: block;
					opacity: 1;
				}
			}
		}
	}
}
