// ==========================================================================
// BOM CATALOGUE DASHBOARD
// ==========================================================================

.is-home .l-padding {
	width: 970px;
}

.bom-catalogue-dashboard {
	margin-bottom: 60px;
}

.bom-catalogue-category {

	//&.custom-forest {
    //
	//	h2,
	//	ul li a.api-tile h3 {
	//		color: $custom-forest;
	//	}
    //
	//	h2 {
	//		border-bottom: 1px solid $custom-forest;
    //
	//		&.icon::before {
	//			background-position: 0% 0%;
	//		}
	//	}
    //
	//	ul li::before,
	//	ul li:hover::before,
	//	ul li:active::before,
	//	ul li:focus::before {
	//		background-color: $custom-forest;
	//	}
	//}
    //
	//&.custom-grape {
    //
	//	h2,
	//	ul li a.api-tile h3 {
	//		color: $custom-grape;
	//	}
    //
	//	h2 {
	//		border-bottom: 1px solid $custom-grape;
    //
	//		&.icon::before {
	//			background-position: -56px 0%;
	//		}
	//	}
    //
	//	ul li::before,
	//	ul li:hover::before,
	//	ul li:active::before,
	//	ul li:focus::before {
	//		background-color: $custom-grape;
	//	}
    //
	//}
    //
	//&.custom-cherry {
    //
	//	h2,
	//	ul li a.api-tile h3 {
	//		color: $custom-cherry;
	//	}
    //
	//	h2 {
	//		border-bottom: 1px solid $custom-cherry;
    //
	//		&.icon::before {
	//			background-position: -116px 0%;
	//		}
	//	}
    //
	//	ul li::before,
	//	ul li:hover::before,
	//	ul li:active::before,
	//	ul li:focus::before {
	//		background-color: $custom-cherry;
	//	}
	//}
    //
	//&.custom-navy {
    //
	//	h2,
	//	ul li a.api-tile h3 {
	//		color: $custom-navy;
	//	}
    //
	//	h2 {
	//		border-bottom: 1px solid $custom-navy;
    //
	//		&.icon::before {
	//			background-position: -176px 0%;
	//		}
	//	}
    //
	//	ul li::before,
	//	ul li:hover::before,
	//	ul li:active::before,
	//	ul li:focus::before {
	//		background-color: $custom-navy;
	//	}
	//}

	h2 {
		@include font-feature();
		font-size: 24px;
		font-weight: 700;
		line-height: 50px;
		color: $brand-tertiary;
		margin-bottom: 20px;
		text-transform: capitalize;
        border-bottom: 1px solid $brand-tertiary;

		&.icon {

			&::before {
				//content: "";
                content: none;
				display: inline-block;
				width: 50px;
				height: 50px;
				float: left;
				margin-right: 10px;
				//background-color: $custom-navy;
				//background-size: 36px 36px;
				//background-position: center;
				//box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
				//background-image: url('../../static/bom-icons-sprite.svg');
				background-size: 220px 110px;
				background-position: 0% 0%;
			}

		}
	}

	ul {
		list-style-type: none;
		padding: 0;
		display: flex;
		flex-flow: column wrap;

		@include bp(m) {
			flex-flow: row wrap;
            justify-content: flex-start;
		}

		li {
			float: none;
            display: block;
            position: relative;
            width: 100%;
			padding: 0;
            padding-bottom: 35px;
			margin: 0;
            margin-right: 5px;
			background: $brand-light-grey;

			vertical-align: middle;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px transparent;
			transition-property: color;
			transition-duration: 0.3s;

			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $brand-primary;
				transform: scaleX(0);
				transform-origin: 0 50%;
				transition-property: transform;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}

			@include bp(m) {
				width: calc(48%);
				padding: 0;
			}

			@include bp(l) {
				width: calc(32%);
                padding-bottom: 35px;
			}

			&:hover,
			&:focus,
			&:active {

				a.api-tile h3 span::after {
					transform: translate(15px);
					transition: transform 300ms ease-in-out;
				}

				a.api-tile h3,
				a.api-tile h4,
				a.api-tile p,
				a.api-tile p.status {
					color: $brand-white;
					transition: all 300ms ease-in-out;
				}

				&::before {
					transform: scaleX(1);
				}
			}

			a.api-tile {
                display: block;
				text-decoration: none;
				padding: 40px 30px;

                @include bp(m) {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                }

				h3 {
					@include font-feature();
					font-size: 16px;
					font-weight: 700;
					color: $brand-tertiary;
					line-height: 20px;
					transition: all 300ms ease-in-out;

					&::after {
						content: none;
					}

                    span {

                        &::after {
                            content: '';
                            display: inline-block;
                            width: 18px;
                            height: 9px;
                            transform: translate(10px);
                            transition: transform 300ms ease-in-out;
                        }
                    }
				}

                h4 {
                    @include font-feature();
                    font-size: 14px;
                    font-weight: 700;
                    color: $brand-tertiary;
                    line-height: 20px;
                    margin-top: 0;
                    transition: all 300ms ease-in-out;
                }

				p {
					@include font-base();
					font-size: 14px;
					font-weight: 300;
					line-height: 24px;
					color: $brand-dark-grey;
					transition: all 300ms ease-in-out;
				}

                p.status {
                    @include font-base();
                    position: absolute;
                    bottom: 40px;
                    left: 30px;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 35px;
                    color: $brand-dark-grey;
                    transition: all 300ms ease-in-out;

                    &::before {
                        content: '';
                        float: left;
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        border-radius: 5px;
                        border: 1px solid $brand-tertiary;
                        margin-right: 10px;
                        background-color: $brand-white;
                        background-image: url('../../static/status-icon.svg');
                        background-size: 20px 20px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }


			}
		}
	}

}


