// ==========================================================================
// BOM CATALOGUE DETAIL
// ==========================================================================

.bom-catalogue-detail {
	width: 100%;

	//@include bp(m) {
	//	width: 75%;
	//}

	&.bom-forest {

		.content-header h1.icon,
		h1, h2 {
			color: $bom-forest;

			//&::before {
			//	background-color: $custom-forest;
			//}
		}

		.content-header h1 {
			border-bottom: 2px solid $bom-forest;

			&.icon::before {
				background-position: 0% 0%;
			}
		}

		.cm dl:first-child {
			border-color: $bom-forest;
		}

	}

	&.bom-grape {

		.content-header h1.icon,
		h1, h2 {
			color: $bom-grape;

			//&::before {
			//	background-color: $custom-grape;
			//}
		}

		.content-header h1 {
			border-bottom: 2px solid $bom-grape;

			&.icon::before {
				background-position: -56px 0%;
			}
		}

		.cm dl:first-child {
			border-color: $bom-grape;
		}

	}

	&.bom-cherry {

		.content-header h1.icon,
		h1, h2 {
			color: $bom-cherry;

			//&::before {
			//	background-color: $custom-cherry;
			//}
		}

		.content-header h1 {
			border-bottom: 2px solid $bom-cherry;

			&.icon::before {
				background-position: -116px 0%;
			}
		}

		.cm dl:first-child {
			border-color: $bom-cherry;
		}

	}

	&.bom-navy {

		.content-header h1.icon,
		h1, h2 {
			color: $bom-navy;

			//&::before {
			//	background-color: $custom-cherry;
			//}
		}

		.content-header h1 {
			border-bottom: 2px solid $bom-navy;

			&.icon::before {
				background-position: -176px 0%;
			}
		}

		.cm dl:first-child {
			border-color: $bom-navy;
		}

	}

	.content-header {

		h1 {
			@include font-feature();
			font-size: 24px;
			font-weight: 700;
			line-height: 50px;
			color: $bom-navy;

			&.icon {

				&::before {
					content: "";
					display: inline-block;
					width: 50px;
					height: 50px;
					float: left;
					margin-right: 5px;
					//background-color: $custom-navy;
					//background-size: 36px 36px;
					//background-position: center;
					//box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.4);
					//background-image: url('../../static/bom-icons-sprite.svg');
					background-size: 220px 110px;
					background-position: 0% 0%;
				}
			}

		}
	}
}
