// ==========================================================================
// BOM CATALOGUE CTA BLOCK
// ==========================================================================

.cta-block {
	border: none;
	padding: 0;

	&.has-border {
		border-top: 1px solid $brand-tertiary;
		padding: 50px 0 0;
	}

	&.is-centered {
		text-align: center;
	}



	h2 {
		@include font-feature();
		font-size: 24px;
		font-weight: 700;
		line-height: 50px;
		color: $brand-tertiary;
		margin-bottom: 20px;
	}

	p {
		@include font-base();
		font-size: 15px;
		font-weight: 300;
		line-height: 24px;
		color: $bom-grey;
		margin: 0 0 20px;
	}

	a.cta {
		margin: 20px 0 0;
	}

}

.api-key {
	margin-top: 30px;

	h2 {
		@include font-feature();
		font-size: 16px;
		font-weight: 700;
		color: $brand-tertiary;
		//margin: 35px 0 20px;

		&.has-border {
			border-bottom: 1px solid $brand-tertiary;
			padding-bottom: 20px;
		}
	}
}

.is-home .cta-block {

	.wrap {
		width: 320px;
		margin: 0 auto;

		@include bp(m) {
			width: 600px;
		}
	}
}

.is-home .cta-login {

	.wrap {
		width: 320px;

		@include bp(m) {
			width: 400px;
		}
	}
}

form {
	text-align: left;

	fieldset {
		overflow: hidden;

		.cta {
			float: none;
			width: 100%;
			margin: 0 0 20px 0;

			&:last-child {
				margin-right: 0;
				float: right;
			}

			&:first-child {
				margin-right: 0;
				float: left;
			}

			@include bp(m) {
				float: left;
				width: auto;
				margin: 0 20px 0 0;
			}
		}
	}

}
