// ==========================================================================
// CATALOGUE FILTERS
// ==========================================================================

#filter-search {
    position: relative;

    .cta {
        position: absolute;
        top: 0;
        right: 0;
    }

    span {
        position: absolute;
        top: 10px;
        left: 15px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('../../static/search-icon.svg');
        background-size: 30px 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    input {
        text-indent: 40px;
        border-color: $brand-primary;
    }
}

.filter-form {
    margin: 0 0 40px;

    legend {

        &::before {
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            float: left;
            margin: 2px 10px 0 0;
            background-image: url('../../static/filter-icon.svg');
            background-size: 15px 15px;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }

    fieldset {
        margin: 10px 0;

        label {
            position: relative;

            .FormInput {
                display: inline-block;

                border: none;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;

            }

            span {
                padding-left: 30px;

                &:hover {
                    color: $brand-primary;
                    cursor: pointer;

                    &::before {
                        border-color: $brand-primary;
                    }
                }

                &::before,
                &::after {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 0;
                    content: "";
                    top: 5px;
                }

                &::before {
                    border: 1px solid $brand-tertiary;
                    transition: border 150ms ease-out;
                }

                &::after {
                    transform: scale(0);
                    transform-origin: center;
                    transition: transform 150ms ease-out;
                    background-position: 50%;
                    background-size: 9px;
                    background-image: url('../../static/checkbox-tick.svg');
                    background-repeat: no-repeat;
                }

                &.checked {
                    color: $brand-primary;

                    &::before {
                        border-color: $brand-primary;
                    }

                    &::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}