// ==========================================================================
// CATALOGUE HOMEPAGE
// ==========================================================================

.is-home .l-padding {
	width: 100%;

	@include bp(m) {
		width: 768px;
	}

	@include bp(l) {
		width: 1042px;
	}
}

.is-home {

	.l-alt-bg {
		background: $brand-light-grey;
	}
}

.data-catalogue-home {
	margin: 20px 0;

	.content-header {
		text-align: center;
	}

	.bom-catalogue-category {
		margin-bottom: 80px;

		ul {
			//@include cf();
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-flow: column wrap;
			justify-content: center;

			@include bp(m) {
				flex-flow: row wrap;
				justify-content: flex-start;
			}

			li {
				float: left;
				width: 100%;
				margin: 0 10px 10px 0;
				padding: 0;
				background: $brand-light-grey;

				&:nth-child(4n) {
					margin: 0 0 10px 0;
				}

				@include bp(m) {
					width: calc(100% / 2);
					padding: 0 5px;
				}

				@include bp(l) {
					width: calc(24%);
					padding: 0 5px;
				}

				&::before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: $brand-primary;
					transform: scaleX(0);
					transform-origin: 0 50%;
					transition-property: transform;
					transition-duration: 0.3s;
					transition-timing-function: ease-out;
				}

				&:hover,
				&:focus,
				&:active {

					a.api-tile h3,
					a.api-tile p {
						color: $brand-white;
						transition: all 300ms ease-in-out;
						transition-delay: 250ms;
					}

					a.api-tile h3.icon::before {
						background-position: 0 -76px;
					}


					&::before {
						transform: scaleX(1);
						transition-delay: 250ms;
					}
				}

				a.api-tile {
					display: block;
					text-decoration: none;
					padding: 70px 30px;
					text-align: center;

					h3 {
						@include font-feature();
						font-size: 24px;
						font-weight: 700;
						color: $brand-tertiary;
						line-height: 30px;
						margin: 0;

						&.icon {

							&::before {
								content: "";
								display: block;
								width: 50px;
								height: 50px;
								margin: 0px auto 20px;
								transition-delay: 250ms;
								//transition: background 300ms ease-in-out;
								background-image: url('../../static/dbp-sprite-icons.svg');
								background-size: 470px 120px;
								background-position: 0 0;
								background-repeat: no-repeat;
							}

							&.api-portal {
								&::before {
									background-position-x: -70px;
								}
							}

							&.analytics {
								&::before {
									background-position-x: -140px
								}
							}

							&.platforms {
								&::before {
									background-position-x: -210px;
								}
							}

							&.integrations {
								&::before {
									background-position-x: -280px;
								}
							}

							&.workflow {
								&::before {
									background-position-x: -345px;
								}
							}

							&.demos {
								&::before {
									background-position-x: -420px;
								}
							}

						}

						&::after {
							content: none;
						}
					}

				}
			}
		}
	}
}

