

.key-block {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin: 20px 0;

    a, button {
        flex: 0 1 auto;
        padding: 10px 20px;
        display: inline-block;
        background: $bom-teal;
        border: 1px solid $bom-teal;
        color: $brand-white;
        text-decoration: none;
        text-align: center;
        outline: none;

        &:hover,
        &:active,
        &:focus {
            background: $bom-navy;
            border: 1px solid $bom-navy;
        }
    }

    input {
        flex: 1 0 auto;
        display: inline-block;
        padding: 12px 40px 12px 20px;
        color: $bom-grey;
        border: 1px solid $bom-teal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    form {
        flex: 0 1 auto;
        margin-bottom: 0;
        border: 1px solid $bom-teal;
        border-left: none;
        width: 36px;

        fieldset {
            height: 100%;
        }

        .cta.is-secondary {
            padding: 0 10px;
            line-height: 44px;
            margin: 0;
            border: none;
            height: 100%;
            background-color: $brand-white;
            transition: all 250ms ease-in-out;

            svg {
                width: 15px;
                height: 15px;
                fill: $bom-teal;
                transition: all 250ms ease-in-out;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $bom-teal;
                transition: all 250ms ease-in-out;

                svg {
                    fill: $brand-white;
                    transition: all 250ms ease-in-out;
                }
            }
        }
    }


    // Define vars we'll be using
    $brand-success: #5cb85c;
    $loader-size: 40px;
    $check-height: $loader-size/2;
    $check-width: $check-height/2;
    $check-left: ($loader-size/6 + $loader-size/12);
    $check-thickness: 2px;
    $check-color: $brand-success;

    .checkmark {
        display: block;
        position: absolute;
        right: 80px;
        top: 5px;

        &.draw:after {
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
        }

        &:after {
            opacity: 1;
            height: $check-height;
            width: $check-width;
            transform-origin: left top;
            border-right: $check-thickness solid $check-color;
            border-top: $check-thickness solid $check-color;
            content: '';
            left: $check-left;
            top: $check-height;
            position: absolute;
        }
    }

    @keyframes checkmark {
        0% {
            height: 0;
            width: 0;
            opacity: 1;
        }
        20% {
            height: 0;
            width: $check-width;
            opacity: 1;
        }
        40% {
            height: $check-height;
            width: $check-width;
            opacity: 1;
        }
        100% {
            height: $check-height;
            width: $check-width;
            opacity: 1;
        }
    }
}