// ==========================================================================
// GROUP LAYOUTS
// ==========================================================================

.ctrl-group {
	&.is-small {
		label,
		.label,
		.text,
		select {
			font-size: 14px;
		}

		.cta {
			padding: 3px 15px;
			font-size: 13px;
			line-height: 2.3077;
		}
	}

	&.is-inline {
		@include bp(s) {
			.ctrl-holder {
				display: inline-block;
				margin: 0 10px 0 0;
			}

			label,
			.label {
				display: inline-block;
				margin-right: 5px;
			}

			.text,
			select {
				font-size: 14px;
				line-height: 2.7857;
				height: 39px;
				display: inline-block;
				float: none;
			}

			.cta {
				position: relative;
			}
		}
	}
}
