// ==========================================================================
// POSITIONING
// ==========================================================================

fieldset {
	border: none;
	margin: 30px 0;
	padding: 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

legend {
	@include font-base();
	font-size: 16px;
	font-weight: 700;
	line-height: 1.125;
	color: $heading-color;
	//float: left; // this is a hack to get the legend to display correctly
	margin-bottom: 20px;

	&.vh + .ctrl-holder {
		margin-top: 0;
	}
}

// ==========================================================================
// BUTTON HOLDER
// ==========================================================================

.btn-holder {
	@include cf();
	margin-top: 0;
	padding-top: 0;

	.cta {
		margin-bottom: 17px;
		margin-right: 10px;
	}

	.or,
	.cancel {
		margin-right: 7px;
	}
}

// ==========================================================================
// FORM LABEL
// ==========================================================================

.ctrl-holder {
	@include cf();
	margin: 30px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	label,
	.label {
		font-size: $formlabel-font-size;
		line-height: $formlabel-line-height;
		display: block;
		font-weight: 500;
		margin: $formlabel-margin;
		text-align: left;
		color: $formlabel-color;
		clear: both;

		&.is-empty {
			display: none;
		}

		&.is-error {
			color: $formfield-error-message-color;
		}

		em {
			margin-left: 5px;
			font-style: normal;
			color: $formlabel-required-color;
		}

		.help {
			margin: 0;
			padding: 0;
			font-weight: normal;
			position: relative;
			top: -5px;
		}

		.tooltip-btn {
			top: 3px;
		}
	}
}

// ==========================================================================
// FORM CONTROLS
// ==========================================================================

.ctrl-holder {
	.text,
	select,
	textarea {
		font-size: $formfield-font-size;
		line-height: $formfield-line-height;
		display: block;
		color: $formfield-color;
		background-color: $formfield-background;
		border: 1px solid $formfield-border-color;
		padding: 0 15px;
		outline: none;
		appearance: none;
		border-radius: $formfield-border-radius;
		transition-property: color, background-color, border;
		transition-duration: $site-base-transition;

		.lt-ie10 & {
			min-height: 0;
		}

		&:focus {
			border-color: $formfield-border-color-focus;
			background-color: $formfield-background-focus;
		}

		&:disabled {
			border: 1px solid $formfield-disabled-border-color;
			background-color: $formfield-disabled-background;
		}
	}

	.text {
		line-height: 1;
		padding: 13px 15px;
	}

	select {
		appearance: none;
		background-position: right 8px center;
		padding-right: 30px;
		background-size: 20px 20px;

		.is-ie & {
			padding: 7px 10px;
			background-image: none;
		}
	}

	textarea {
		line-height: 1.5;

		&,
		&.text {
			height: auto;
			min-height: 120px;
			resize: none;
			line-height: 1.5;
			padding-top: 10px;

			.lt-ie10 & {
				min-height: 0;
				height: 200px;
			}
		}
	}

	.help {
		font-size: 13px;
		line-height: 1.6154;
		clear: both;
		display: block;
		padding-top: 6px;
		font-style: normal;
	}

	input {
		&[type="search"] {
			box-sizing: border-box;
		}
	}
}

// ==========================================================================
// FLOATED CTRL HOLDERS
// ==========================================================================

.ctrl-holder {
	.ctrls {
		@include cf();
	}

	.ctrl-holder {
		float: left;
		margin: 0 10px 0 0;
		clear: none;

		&:last-child {
			margin-right: 0;
		}
	}
}

// ==========================================================================
// INLINE LABELS
// ==========================================================================

.ctrl-holder {
	&.has-inline-label {
		@include bp($formlabel-inline-at) {
			& > label,
			& > .label {
				float: left;
				width: $formlabel-inline-width;
				text-align: $formlabel-inline-text-align;
				padding-right: 20px;
				position: relative;
				top: $formlabel-inline-top-adjust;
			}

			& > .ctrl {
				float: left;
			}
		}
	}
}

// ==========================================================================
// FORM DISPLAY TEXT VARIATIONS
// ==========================================================================

.ctrl-holder {
	.display {
		font-size: $formfield-font-size;
		line-height: $formfield-line-height;
		display: block;
		float: left;
	}

	.addon-text-container {
		display: table;

		& > * {
			display: table-cell;
		}

		.text,
		select {
			width: 100%;
		}
	}

	.addon-text {
		background-color: $formfield-addon-background;
		border: 1px solid $formfield-border-color;
		padding: 0 10px;
		text-align: center;

		&:first-child {
			border-right: none;
		}

		&:last-child {
			border-left: none;
		}
	}
}

// ==========================================================================
// FORM PLACEHOLDERS
// ==========================================================================

.ctrl-holder .text.is-placeholder,
.ctrl-holder textarea.is-placeholder { // <= ie9
	color: $formfield-placeholder-color;
}

.ctrl-holder ::placeholder {
	color: $formfield-placeholder-color;
}

// ==========================================================================
// REMOVE INPUT SPINNER
// ==========================================================================

// disable default number spinner
.ctrl-holder input[type=number]::-webkit-inner-spin-button,
.ctrl-holder input[type=number]::-webkit-outer-spin-button {
	appearance: none;
	margin: 0;
}
