// ==========================================================================
// FORM STATES
// ==========================================================================

form.is-loading,
.js-multistep.is-loading form {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($brand-white, 0.5) url("/assets/img/forms/loader.gif") no-repeat 50% 50%;
	}
}

// ==========================================================================
// MANDATORY
// ==========================================================================

.mandatory-message {
	// customise as needed
}

// ==========================================================================
// FORM SUCCESS
// ==========================================================================

.is-valid {
	.text,
	select,
	textarea {
		//background-color: $formfield-success-background;
		//border-color: $formfield-success-border-color;
	}

	.status-msg .error {
		display: none;
	}
}

// ==========================================================================
// FORM SUMMARY
// ==========================================================================

.form-summary {
	outline: none;
	margin: 40px 0; // TODO: Check this
	position: relative;
	padding: 20px 30px;
	border-top: 5px solid $form-summary-default-highlight-color;
	background-color: $form-summary-background-color;

	.form-summary-title {
		background-color: $form-summary-default-highlight-color;
		margin: -20px -30px 20px -30px;
		padding: 15px 30px 20px;

		h2 {
			@include font-base();
			font-weight: 700;
			font-size: 16px;
			margin: 0;
			color: get-contrasting-color($form-summary-default-highlight-color, $form-summary-text-color, $form-summary-text-color-on-dark);
		}
	}

	ul {
		padding-left: 25px;
	}

	a,
	.form-summary-title {
		color: $form-summary-text-color;
	}

	a {
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&.is-error {
		border-color: $form-summary-error-highlight-color;

		.form-summary-title {
			background-color: $form-summary-error-highlight-color;

			h2 {
				color: get-contrasting-color($form-summary-error-highlight-color, $form-summary-text-color, $form-summary-text-color-on-dark);
			}
		}
	}

	&.is-warning {
		border-color: $form-summary-warning-highlight-color;

		.form-summary-title {
			background-color: $form-summary-warning-highlight-color;

			h2 {
				color: get-contrasting-color($form-summary-warning-highlight-color, $form-summary-text-color, $form-summary-text-color-on-dark);
			}
		}
	}

	&.is-info {
		border-color: $form-summary-info-highlight-color;

		.form-summary-title {
			background-color: $form-summary-info-highlight-color;

			h2 {
				color: get-contrasting-color($form-summary-info-highlight-color, $form-summary-text-color, $form-summary-text-color-on-dark);
			}
		}
	}

	&.is-success {
		border-color: $form-summary-success-highlight-color;

		.form-summary-title {
			background-color: $form-summary-success-highlight-color;

			h2 {
				color: get-contrasting-color($form-summary-success-highlight-color, $form-summary-text-color, $form-summary-text-color-on-dark);
			}
		}
	}
}

// ==========================================================================
// FORM FIELD ERROR STATES
// ==========================================================================

.is-error,
.-hasError{
	.text,
	select,
	textarea {
		background-color: $formfield-error-background;
		border-color: $formfield-error-border-color;
	}

	.options.fancy .option,
	.option.fancy {
		label,
		.label {
			background-color: $formfield-error-background;
			border-color: $formfield-error-border-color;
		}
	}

	.FormError {
		color: $formfield-error-color;
	}
}

// ==========================================================================
// STATUS MESSAGE
// ==========================================================================

@mixin error-message-display() {
	display: inline-block;
	color: $formfield-error-message-color;
	background-color: $formfield-error-message-background;
	font-weight: bold;
	font-style: normal;
	padding: 10px 15px;
	position: relative;
	font-size: $formfield-error-message-font-size;
	border-radius: $formfield-border-radius;

	&::before {
		@include triangle-content(top, $formfield-error-message-background, 20px, 10px);
		position: absolute;
		left: 15px;
		top: -20px;
	}
}

.ctrl-holder {
	.status-msg {
		display: none;
	}

	&.is-error, {
		.status-msg {
			display: block;
			clear: both;
			padding-top: 20px;
			padding-bottom: 5px;
			max-width: 450px;

			.error {
				@include error-message-display();
			}
		}
	}
}
