// ==========================================================================
// FORM SIZES
// ==========================================================================

@mixin form-element-widths($size-name, $width, $width-small: 100%) {
	.ctrl-holder.width-#{$size-name} > .ctrl {
		width: $width-small;
		max-width: none;

		@include bp(xxs) {
			@if unit($width-small) == "%" {
				max-width: $width;
			} @else {
				width: $width;
			}
		}
	}
}

// all form elements inside here should be width 100%
.ctrl-holder[class*="width-"] > .ctrl {
	.text,
	textarea,
	select,
	.addon-text-container {
		width: 100%;
	}

	//p {
	//	margin-bottom: 0;
	//}

	ul {
		margin: 0;
		padding-left: 20px;

		li {
			margin: 0;
		}
	}
}

@include form-element-widths(xl, 450px);
@include form-element-widths(l, 400px);
@include form-element-widths(m, 250px);
@include form-element-widths(s, 150px);
@include form-element-widths(xs, 80px);
@include form-element-widths(xxs, 55px);

// SPECIAL DATE WIDTHS
@include form-element-widths(date-day, 65px, 55px);
@include form-element-widths(date-month, 150px, 130px);
@include form-element-widths(date-year, 80px, 70px);

// SPECIAL PHONE NUMBER WIDTHS
@include form-element-widths(phone-areacode, 65px, 55px);
@include form-element-widths(phone-number, 200px, 170px);

// ==========================================================================
// FULL SIZE
// ==========================================================================

.width-full > .ctrl {
	width: 100%;
}
