// ==========================================================================
// AUTOCOMPLETE
// ==========================================================================

// ==========================================================================
// - FUNCTIONAL
// ==========================================================================

.autocomplete {
	position: relative;

	.text {
		z-index: 5;
		position: relative;
	}

	&.text {
		padding: 0;
		border: none;
	}

	&.is-active .autocomplete-results {
		display: block;
	}

	&.is-loading {
		.text {
			background-color: $brand-white;
			background-image: url("/assets/img/forms/loader.gif");
			background-position: right 10px center;
			background-repeat: no-repeat;
		}
	}

	&.has-button {
		padding-right: 45px;

		& > button {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

.autocomplete-results {
	display: none;
	position: absolute;
	top: calc(100% + #{bottom($layout-padding)});
	width: 100%;
	z-index: 4;
	outline: none;
	min-height: 40px;

	@include bp(xl) {
		top: calc(100% + #{bottom($layout-padding-xl)});
	}
}
// ==========================================================================
// - DESIGN
// ==========================================================================

.autocomplete-results {
	background-color: $brand-white;
	border: 1px solid $brand-grey-border;
	margin-top: -1px;

	ul {
		@include list-reset();
	}

	li {
		margin: 0;
	}

	.autocomplete-results-item {
		font-size: 16px;
		line-height: 1.25;
		display: block;
		border: none;
		background: transparent;
		padding: 10px;
		width: 100%;
		text-align: left;
		outline: none;
		font-weight: 400;
		text-decoration: none;

		&.is-selected,
		&:hover {
			color: $brand-primary;
		}
	}

	.autocomplete-results-footer {
		background-color: $brand-grey-light;
	}

	.autocomplete-list {
		.autocomplete-results-item {
			strong {
				font-weight: 700;
			}

			span {
				display: block;
			}
		}
	}

	.autocomplete-results-item-title {
		font-weight: 500;
		text-decoration: underline;

		& + span {
			font-size: 14px;
			color: $paragraph-color;
			text-decoration: none;
		}
	}
}
