// ==========================================================================
// FORM OPTION LISTS
// ==========================================================================

.ctrl-holder {
	.options {
		@include list-reset();

		&.is-horizontal {
			width: auto;

			@include bp(m) {
				@include cf();

				.option {
					float: left;
					margin: 0 10px 0 0;
				}

				label,
				.label {
					width: auto;
					max-width: none;
					padding-right: 30px;
				}
			}
		}
	}

	.option {
		@include cf();
		font-size: $formfield-font-size;
		line-height: $formfield-line-height;
		position: relative;
		margin-top: 10px;
		width: auto;
		display: block;

		&:first-child {
			margin-top: 0;
		}

		.help {
			margin: 0;
			padding: 0;
		}

		input {
			position: absolute;
			top: 6px;
			left: 0;
		}

		label,
		.label {
			width: auto;
			max-width: none;
			padding: 0 0 0 25px;
			margin: 0;
			font-weight: normal;
			text-align: left;
			color: $paragraph-color;
		}
	}

	.options.fancy .option,
	.option.fancy {
		label,
		.label {
			border-radius: $formfield-border-radius;
			border: 1px solid $formfield-border-color;
			background-color: $formfield-background;
			padding: $formfield-fancyopt-padding;
			transition-property: border-color, background-color;
			transition-duration: $site-base-transition;
		}

		input {
			top: $formfield-fancyopt-input-top;
			left: $formfield-fancyopt-input-left;

			&:checked {
				& + label,
				& + .label {
					border-color: $formfield-fancyopt-checked-border-color;
					background-color: $formfield-fancyopt-checked-background;
					color: $formfield-fancyopt-checked-text-color;
				}
			}
		}
	}
}
