// ==========================================================================
// COMPASS REPLACEMENT
// ==========================================================================

// mixin for displaying an ellipsis
@mixin ellipsis($no-wrap: true) {
	@if $no-wrap { white-space: nowrap; }
	overflow: hidden;
	text-overflow: ellipsis;
}

// gives the opposite position passed to it
// e.g. if top is given, bottom is returned.
@function opposite-position($from) {
	@if ($from == top) {
		@return bottom;
	} @else if ($from == bottom) {
		@return top;
	} @else if ($from == left) {
		@return right;
	} @else if ($from == right) {
		@return left;
	} @else if ($from == center) {
		@return center;
	}
}

// Strips the units from a string
@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}
