// ==========================================================================
// PSEUDO-ELEMENT ICONS
// Utilities for pseudo-elements as icons
//
// Example usage:
//
// This example will create a :before pseudo-element and :after pseudo-element.
// The :before pseudo-element will be displayed by default
// The :after pseudo-element will be displayed on hover / focus.
//
// .button > .icon {
//     @include peicon-dual(48px, 48px, left, center, true);
// }
//
// This example will just create a :before psuedo-element, but no :after pseudo-element.
// The :before psuedo-element will have a property of right: 10px;
//
// .button > .icon:before {
//     @include peicon-content(48px, 48px, none, center) {
//         right: 10px;
//     }
// }
//
// ==========================================================================

@mixin peicon($width: 48px, $height: 48px, $x-pos: none, $y-pos: none) {
	width: $width;
	height: $height;
	display: block;
	background-position: 50% 50%;

	// Position absolutely if valid position values are provided
	@if ($x-pos != none or $y-pos != none) {
		position: absolute;
	}

	// Icon left position
	@if ($x-pos == left) {
		left: 0;
	} @else if ($x-pos == center) {
		left: 50%;
		margin-left: ceil($width / 2) * -1;
	} @else if ($x-pos == right) {
		right: 0;
	} @else if ($x-pos != none) {
		left: $x-pos;
	}

	// Icon top position
	@if ($y-pos == top) {
		top: 0;
	} @else if ($y-pos == center) {
		top: 50%;
		margin-top: ceil($height / 2) * -1;
	} @else if ($y-pos == bottom) {
		bottom: 0;
	} @else if ($y-pos != none) {
		top: $y-pos;
	}

	@content;
}

@mixin peicon-content($width: 48px, $height: 48px, $x-pos: none, $y-pos: none) {
	content: "";

	@include peicon($width, $height, $x-pos, $y-pos) {
		@content;
	}
}

@mixin peicon-dual-active() {
	&::before {
		opacity: 0;
	}

	&::after {
		opacity: 1;
	}
}

@mixin peicon-dual($width: 48px, $height: 48px, $x-pos: none, $y-pos: none, $active-on-hover: false, $duration: $site-base-transition) {
	&::before,
	&::after {
		transition: opacity $duration;

		@include peicon-content($width, $height, $x-pos, $y-pos) {
			@content;
		}
	}

	&::before {
		opacity: 1;
	}

	&::after {
		opacity: 0;
	}

	@if $active-on-hover {
		&:hover,
		&:focus,
		&:active {
			@include peicon-dual-active();
		}
	}
}
