// ==========================================================================
// CONTENT HEADER
// ==========================================================================

.content-header {
	margin-bottom: 30px;

	h1 {
		@include font-feature();
		font-size: 24px;
		font-weight: 700;
		color: $bom-navy;
		margin: 0;
	}

	&.is-search {
		margin-bottom: 50px;
		margin-top: 70px;

		.did-you-mean {
			display: inline-block;
			margin-top: 10px;
		}
	}
}
