// ==========================================================================
// FOOTER
// ==========================================================================

.global-footer {
	font-size: 15px;
	color: $brand-white;
	background-color: $brand-secondary;
	padding: 50px 0;

	.footer-logo {
		overflow: hidden;
		border-bottom: 1px solid $brand-white;
		margin: 0 0 30px;
		padding: 0 0 30px;
		text-align: center;

		.logo {
			float: none;
			display: block;

			@include bp(l) {
				float: left;
			}

			//@include bp(l) {
			//	display: none;
			//}

			img {
				margin: 0;
			}

		}

		h2 {
			@include font-feature();
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			color: $brand-white;
			float: none;
			margin: 30px 0 0;

			@include bp(l) {
				float: right;
				margin: 0;
				line-height: 2.2;
			}
		}
	}

	a {
		text-decoration: none;
		display: block;
		color: $brand-white;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	p {
		@include font-base();
		font-size: 14px;
		font-weight: 300;
		color: $brand-white;
		margin-top: 20px;
		text-align: center;
	}

	//@include bp(l) {
	//	padding-top: 100px;
	//}

	nav {
		text-align: center;
	}
}

.nav-footer {
	@include cf();
	@include list-reset();
	text-align: center;
	display: inline-block;

	ul {
		@include list-reset();
		display: none;
	}

	li {

		a {
			@include font-base();
			font-size: 14px;
			font-weight: 300;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	//.nav-footer-social {
	//	h2 {
	//		margin-bottom: 5px;
	//	}
    //
	//	ul {
	//		display: block;
	//		margin-left: -10px;
    //
	//		li {
	//			display: inline-block;
	//			margin: 0;
	//		}
	//	}
    //
	//	a {
	//		@include font-base();
	//		font-size: 14px;
	//		font-weight: 300;
	//		position: relative;
	//		display: block;
    //
	//		&:hover,
	//		&:focus {
	//			.icon path {
	//				fill: $brand-primary;
	//			}
	//		}
	//	}
    //
	//	.icon {
	//		width: 20px;
	//		height: 20px;
	//		display: block;
	//	}
	//}

	@include bp(l) {
		margin: 0 -18px;

		ul {
			display: block;
		}

		& > li {
			float: left;
			margin: 0;
			padding: 0 18px;
			//width: 33.3%;
			width: auto;
		}

		&.has-4-items {
			& > li {
				width: 25%;
			}
		}

		&.has-5-items {
			& > li {
				width: 20%;
			}
		}

		&.has-6-items {
			& > li {
				width: 16.6%;
			}
		}
	}
}
