// ==========================================================================
// HEADER
// ==========================================================================

.global-header {
	@include cf();
	z-index: $z-index-header;
	position: relative;
	background-color: $brand-secondary;
	padding: 10px 0;
	text-align: center;

	&.is-home {
		padding: 100px 0;

		.l-padding {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
		}

		.logo {
			margin-right: 60px;

			img {
				margin: 0;
			}
		}

		.header-content {
			float: left;
			width: 60%;
			border-left: 1px solid $brand-white;
			padding-left: 60px;
			text-align: left;

			h1 {
				float: none;
				font-size: 36px;
				line-height: 44px;
				top: 0;
				margin: 0 0 40px;
			}

			p {
				@include font-base();
				font-size: 18px;
				font-weight: 300;
				line-height: 23px;
				color: $brand-white;
			}
		}

		@include bp(0, m) {
             padding: 40px 0;

			.header-content {
				h1 {
					font-size: 28px;
					line-height: 40px;
				}
			}

            .logo {
                float: none;
                display: none;

                a {
                    display: block;
                    margin: 0 auto;
                    width: 80% !important;
                }
            }

			.header-content {
				float: none;
				border: none;
				padding-left: 0;
				margin: 0 auto;
				text-align: center;
                width: 100%;
			}
		}
	}

	.logo {
		display: block;
		text-align: center;

		a, img, svg {
			display: block;
		}

		@include bp(0, m) {
			display: none;
		}

		@include bp(0, xxs) {
			div {
				width: 100% !important;
			}
		}
	}

	@include bp(0, m) {
		.logo {
			float: none;

			a {
				display: block;
				margin: 0 auto;
			}
		}

		h1 {
			@include font-feature();
			font-weight: 700;
			font-size: 16px;
			line-height: 28px;
			margin: 0px 0 0;
			float: none;
			top: 0px;
			position: relative;
			margin-left: 0px;
			color: $brand-white;
			padding: 0 50px;
		}

		p {
			@include font-base();
			font-size: 15px;
			font-weight: 300;
			line-height: 24px;
			color: $brand-white;
		}

		.top-nav {
			float: none;
			padding: 0;
		}
	}

	@include bp(xxs) {

		h1 {
			padding: 0 70px;
		}
	}


	@include bp(l) {
		height: auto;
		padding: 30px 0;

		.l-padding {
			position: relative;
		}

		.nav-toggle {
			display: none;
		}

		.search-toggle {
			position: absolute;
			top: 0;
			right: $layout-padding;
		}

		.nav-onscreen {
			padding-right: 30px + $layout-padding;
		}

		.logo {
			float: left;

			a {
				display: block;
			}
		}

		h1 {
			@include font-feature();
			font-weight: 700;
			font-size: 16px;
			line-height: 1;
			margin: 0;
			float: right;
			top: 15px;
			position: relative;
			margin-left: 50px;
			margin-right: 30px;
			color: $brand-white;
			text-align: left;
			padding: 0;
		}
	}

	@include bp(xl) {
		.search-toggle {
			right: $layout-padding-xl;
		}

		.nav-onscreen {
			padding-right: 30px + $layout-padding-xl;
		}
	}
}

// ==========================================================================
// - BURGER ICON
// ====

.burger {
    display: none;

	@include bp(0,s) {
		display: block;
		position: absolute;
		top: 17px;
		left: 20px;
		z-index: 999;
		width: 20px;
		height: 20px;
	}

    @include bp(s,m) {
        display: block;
        position: absolute;
        top: 16px;
        left: 20px;
        z-index: 999;
        width: 20px;
        height: 20px;
    }
}

.burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $brand-white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
    top: 0px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
    top: 8px;
}

.burger span:nth-child(4) {
    top: 16px;
}

.burger.expanded span {
	background: $brand-white;
}

.burger.expanded span:nth-child(1) {
    top: 16px;
    width: 0%;
    left: 50%;
}

.burger.expanded span:nth-child(2) {
    transform: rotate(45deg);
}

.burger.expanded span:nth-child(3) {
    transform: rotate(-45deg);
}

.burger.expanded span:nth-child(4) {
    top: 16px;
    width: 0%;
    left: 50%;
}


// ==========================================================================
// - NAV TOP
// ====

.nav-top {
	background: $brand-primary;
	margin-top: 0px;
	transition: 0.4s margin ease;

	@include bp(0,m) {
		//margin-top: -360px;
		transition: 0.4s all ease;

		position: absolute;
		width: 100%;
		top: -360px;
		left: 0;
		z-index: 998;
		text-align: center;
		line-height: 1;

		&.expanded {
			//margin-top: 0px;
			top: 44px;
			transition: 0.4s all ease;
		}
	}

	&.is-home {
		text-align: center;
		line-height: 1;

		ul.main {
			float: none;
			display: inline-block;
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			width: 100%;
			float: left;
			display: inline-block;
		 	line-height: 60px;
		 	margin: 0;
			padding: 15px 0;

			@include bp(m) {
				width: auto;
				float: left;
				margin: 0 40px 0 0;
			}

			&:last-child {
				margin: 0;
			}

		 	a {
				@include font-feature();
				font-weight: 700;
				font-size: 16px;
				line-height: 30px;
				display: block;
				color: $brand-white;
                position: relative;
                transform: translate(0px);
                //transition: transform 250ms ease-in-out;

				&:hover,
				&:focus,
				&:active {
					color: $brand-white;
                    text-decoration: none;

                    &::before {
                        right: 0;
                    }
				}

                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    right: 100%;
                    bottom: 2px;
                    background: $brand-white;
                    height: 1px;
                    transition-property: right;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                }
			}
		}
	}

	ul.main {
		float: left;
		display: block;

		@include bp(0,m) {
			float: none;
			display: inline-block;
		}

	}

	ul.search {
		width: 100%;
		float: left;

		@include bp(m) {
			width: auto;
			float: right;

			li {
				margin: 0 0 0 40px;

				&:first-child {
					margin: 0;
				}
			}
		}
	}

}
