// ==========================================================================
// BASE STYLES
// ==========================================================================

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba($link-color-hover, 0.5);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
button,
input,
select,
textarea {
	@include font-base();
}

body {
	@include font-base();
	font-weight: 300;
	font-size: $paragraph-font-size;
	line-height: $paragraph-line-height;
	color: $paragraph-color;
	background: $brand-white;
}

@if $IS_RESPONSIVE == false {
	@media screen {
		html,
		body {
			min-width: #{$bp-static-max}px;
		}
	}
}

@import "base/rich-text";
@import "base/links-buttons";
//@import "base/tables";
