// ==========================================================================
// GLOBAL STYLES
// ==========================================================================

body {
	&.has-no-scroll {
		position: fixed;
		overflow: hidden;
		width: 100%;
		min-height: 100%;
		overflow-y: scroll;
	}
}

// ==========================================================================
// - PAGE WARNING
// ==========================================================================

.page-warning {
	font-size: 14px;
	line-height: 1.4286;
	background-color: $brand-primary;
	color: $brand-white;
	text-align: center;
	padding: 5px 0;
}


section.flag {
	@include font-base();
	font-size: 16px;
	font-weight: 700;
	position: fixed;
	z-index: 999;
	background: #f4c643;
	color: $brand-black;
	text-transform: uppercase;
	padding: 10px 50px;
	z-index: 999;
	right: -55px;
	top: 30px;
	width: auto;
	transform: rotate(45deg);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);

	@include bp(0,m) {
		position: fixed;
		top: 0;
		left: 0;
		padding: 10px 0px;
		text-align: center;
		width: 100%;
		transform: rotate(0deg);
		box-shadow: none;
	}

}

section.error {
	display: none;
	position: relative;
	border: 1px solid $bom-cherry;
	color: $brand-black;
	font-weight: 400;
	padding: 15px 20px 15px 55px;
	margin-bottom: 20px;
	background: rgba(164, 18, 63, 0.15);
	width: 90%;

	@include bp(0,m) {
		width: 100%;

	}

	&.active {
		display: block;
	}

	&::before {
		content: '!';
		background: $bom-cherry;
		color: $brand-white;
		position: absolute;
		margin: 0;
		top: 15px;
		left: 20px;
		border-radius: 50%;
		font-size: 18px;
		font-weight: bold;
		width: 25px;
		height: 25px;
		text-align: center;
	}
}

section.loading {

	img {
		display: none;
	}

	form::after {
		content: none;
		transition: all 0.3s ease-in-out;
	}

	&.active {
		position: relative;

		img {
			display: block;
			position: absolute;
			top: calc(50% - 20px);
			left: calc(50% - 20px);
			animation: rotate 1s infinite linear;
		}

		form::after {
			content: '';
			background: $brand-white;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.5;
			transition: all 0.3s ease-in-out;
		}
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}