// ==========================================================================
// LAYOUT
// ==========================================================================

.page-wrap-outer {
	position: relative;
	//overflow: hidden;
	width: 100%;

	@if $IS_RESPONSIVE == true {
		min-width: 320px;
	}
}

.page-wrap {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

// ==========================================================================
// CONTAINER AND PADDING LAYOUTS
// ==========================================================================

//.is-home .l-container,
//.is-home .l-padding,
.l-container,
.l-padding {
	@include clearfix-micro();

	@include bp(m) {
		width: #{$bp-m-min}px;
		margin: 0 auto;
	}

	@include bp(l) {
		width: #{$bp-l-min}px;
	}

	@include bp(xl) {
		width: #{$bp-xl-min}px;
	}

	@include bp(xxl) {
		width: #{$bp-xxl-min}px;
	}
}

//.is-home .l-padding,
.l-padding {
	padding: 0 $layout-padding;

	@include bp(xl) {
		padding: 0 $layout-padding-xl;
	}
}

@mixin l-padding-reset() {
	padding: 0;
	width: auto;

	@include bp(xl) {
		padding: 0;
	}
}

// ==========================================================================
// MODULE LAYOUT
// ==========================================================================

@mixin module-padding() {
	padding: $module-padding-small;

	@include bp(s) {
		padding: $module-padding-large;
	}
}

// ==========================================================================
// GLOBAL LAYOUT
// ==========================================================================

.l-content-container,
.l-content-column,
.l-aside,
.l-complementary,
.l-main,
.l-layout {
	outline: none;
}

.l-content-container {
	position: relative;
	margin: 60px auto;

	@include bp(l) {
		min-height: 500px;
	}
}

.l-layout {
	position: relative;
	flex: 1 0 auto;
}

// ==========================================================================
// TEMPLATE LAYOUTS
// ==========================================================================

.l-one-column {
	// nothing required
}

.l-two-column-left {
	.l-main {
		@include bp(l) {
			float: left;
			width: $layout-l-width - $complementary-width - $layout-margins;
			margin-right: $layout-margins;
		}

		@include bp(xl) {
			width: $layout-xl-width - $complementary-width - $layout-margins;
		}

		@include bp(xxl) {
			width: $layout-xxl-width - $complementary-width - $layout-margins;
		}
	}

	.l-complementary {
		@include bp(l) {
			position: relative;
			float: left;
			width: $complementary-width;
		}

		@include bp(xl) {
			width: $complementary-width;
		}
	}

	.l-main + .l-complementary {
		margin-top: 50px;

		@include bp(l) {
			margin-top: 0;
		}
	}
}

// shared styles for two column right and three column
.l-two-column-right,
.l-two-column,
.l-three-column {
	.l-content-column {
		@include bp(m) {
			float: right;
			width: $layout-m-width - $aside-width;
		}

		@include bp(l) {
			width: $layout-l-width - $aside-width;
		}

		@include bp(xl) {
			width: $layout-xl-width - $aside-width;
		}

		@include bp(xxl) {
			width: $layout-xxl-width - $aside-width;
		}
	}

	.l-main {
		width: auto;

		@include bp(m) {
			margin-bottom: 0;
			margin-left: $layout-margins;
		}
	}

	.l-aside {
		@include bp(m) {
			position: relative;
			float: left;
			width: $aside-width;
		}

		@include bp(l) {
			width: $aside-width;
		}

		@include bp(xl) {
			width: $aside-width;
		}
	}

	.l-content-column + .l-aside,
	.l-aside + .l-content-column {
		margin-top: 50px;

		@include bp(m) {
			margin-top: 0;
		}
	}
}

.l-two-column {

	.l-content-column {
		@include bp(m) {
			float: left;
			//width: $layout-m-width - $aside-width;
		}
	}

	.l-main {
		width: auto;

		@include bp(m) {
			margin-bottom: 0;
			margin-left: 0;
		}
	}
}

.l-three-column {
	.l-main {
		@include bp(xl) {
			float: left;
			width: $layout-xl-width - $aside-width - $complementary-width - $layout-margins - $layout-margins;
			margin-right: $layout-margins;
		}

		@include bp(xxl) {
			width: $layout-xxl-width - $aside-width - $complementary-width - $layout-margins - $layout-margins;
		}
	}

	.l-complementary {
		margin-top: 50px;

		@include bp(m) {
			width: auto;
		}

		@include bp(m, l) {
			margin-left: $layout-margins;
		}

		@include bp(xl) {
			margin-top: 0;
			position: relative;
			float: left;
			width: $complementary-width;
		}
	}
}

// ==========================================================================
// FONT SIZE ADJUST for COMPLEMENTARY
// ==========================================================================

.l-complementary {
	font-size: 14px;

	h2,
	.h2 {
		font-size: 32px;
	}

	h3,
	.h3 {
		font-size: 28px;
	}

	h4,
	.h4 {
		font-size: 22px;
	}

	h5,
	.h5 {
		font-size: 18px;
	}

	h6,
	.h6 {
		font-size: 16px;
	}
}
