
.link-caret .link-icon::before,
.link-caret-block::before,
.svg-caret-right-black {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cstyle%20fill%3D%22%23000000%22%3E.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M13%2010l-.7-.7L7.7%205l-.7.7%204.5%204.3L7%2014.3l.7.7%204.6-4.3z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    /*background-size: 20px 20px;*/
}

.link-caret .link-icon::after,
.link-caret-block::after,
.svg-caret-right-primary {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cstyle%20fill%3D%22%2381bc00%22%3E.st0%7Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M13%2010l-.7-.7L7.7%205l-.7.7%204.5%204.3L7%2014.3l.7.7%204.6-4.3z%22%20fill%3D%22%2381bc00%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    /*background-size: 20px 20px;*/
}

//.bom-cherry .api-tile .link-caret::after,
//.svg-link-caret-cherry {
//    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23A4123F%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23A4123F%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
//    background-repeat: no-repeat;
//    /*background-size: 18px 9px;*/
//}
//
//
//.bom-forest .api-tile .link-caret::after,
//.svg-link-caret-forest {
//    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23006A52%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23006A52%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
//    background-repeat: no-repeat;
//    /*background-size: 18px 9px;*/
//}
//
//
//.bom-grape .api-tile .link-caret::after,
//.svg-link-caret-grape {
//    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23500778%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23500778%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
//    background-repeat: no-repeat;
//    /*background-size: 18px 9px;*/
//}
//
//
//.bom-navy .api-tile .link-caret::after,
//.svg-link-caret-navy {
//    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23003C71%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23003C71%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
//    background-repeat: no-repeat;
//    /*background-size: 18px 9px;*/
//}


.link-caret::after,
.link-caret span::after,
.svg-link-caret-teal {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23012169%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23012169%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    /*background-size: 18px 9px;*/
}


.api-tile:hover .link-caret span::after,
.svg-link-caret-white {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%209%22%3E%3Ctitle%20fill%3D%22%23ffffff%22%3Elink-caret.colors-teal-white%3C%2Ftitle%3E%3Cpath%20d%3D%22M18%204.69a.5.5%200%200%200-.11-.55l-4-4a.5.5%200%200%200-.71.71L16.29%204H.5a.5.5%200%200%200%200%201h15.79l-3.14%203.15a.5.5%200%201%200%20.71.71l4-4a.5.5%200%200%200%20.14-.17z%22%20fill%3D%22%23ffffff%22%20data-name%3D%22Layer%201%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    /*background-size: 18px 9px;*/
}
