// The naming convention for these variable names is element-property

// ==========================================================================
// BREAKPOINTS
// ==========================================================================

$bp-xxs-min: 359;
$bp-xs-min: 480;
$bp-s-min: 640;
$bp-m-min: 768;
$bp-l-min: 1024;
$bp-xl-min: 1200;
$bp-xxl-min: 1200;

// Range for the static stylesheet to use. Is used when $IS_RESPONSIVE is equal to false
// and ignores breakpoints outside of the specified range
$bp-static-min: 0;
$bp-static-max: $bp-xl-min - 1;

// Range for the print stylesheet to use. It applies @media screen to breakpoints outside of this
$bp-print-min: 0;
$bp-print-max: 550;

// ==========================================================================
// COLOURS
// ==========================================================================

$print-black: #000;
$print-grey: #999;

// ==========================================================================
// - BRAND
// ==========================================================================

$bom-navy: #003C71;
$bom-teal: #006AB7; //#00778B;
$bom-forest: #006A52;
$bom-grape: #500778;
$bom-cherry: #A4123F;
$bom-light-cyan: #70D2E9;
$bom-grey: #414141; //#656565;
$bom-light-grey: #F1F1F1;

$brand-primary: $primary;
$brand-secondary: $secondary;
$brand-tertiary: $tertiary;
$brand-light-grey: $light-grey;
$brand-dark-grey: $dark-grey;

$brand-white: #FFF;
$brand-black: #000;

$brand-grey-mid: #BBB;
$brand-grey-light: $light-grey;
$brand-grey-dark: $dark-grey;
$brand-grey-border: #808080;

// ==========================================================================
// - SITE COLOURS
// ==========================================================================

$paragraph-color: #656565;
$paragraph-color-on-dark: #FFF;
$heading-color: $brand-tertiary;
$heading-color-on-dark: #FFF;
$overlay-bg: #000;

// Links
$link-color-default: $brand-tertiary;
$link-color-visited: $brand-tertiary;
$link-color-hover: $brand-primary;
$link-color-active: darken($bom-teal, 10%);

$site-base-transition: 150ms;

// ==========================================================================
// SIZES
// ==========================================================================

$nav-offscreen-width: 270px;
$complementary-width: 220px;
$aside-width: 220px;

$layout-padding: 20px;
$layout-padding-xl: 36px;

$layout-margins: 36px;

$module-padding-small: 20px 20px 25px;
$module-padding-large: 40px 40px 50px;

$layout-m-width: $bp-m-min - ($layout-padding * 2);
$layout-l-width: $bp-l-min - ($layout-padding * 2);
$layout-xl-width: $bp-xl-min - ($layout-padding-xl * 2);
$layout-xxl-width: $bp-xxl-min - ($layout-padding-xl * 2);

// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

// Default body text (paragraphs, lists, etc)
$base-font-size: 15px;
$base-line-height: 24px;

$paragraph-font-size: $base-font-size;
$paragraph-line-height: $base-line-height;
$paragraph-margin: 14px 0;

// Headings
@mixin font-base() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

@mixin font-feature() {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

$margins-text-small: 15px;
$margins-text: 40px;

// ==========================================================================
// FORMS
// ==========================================================================

// FORM LABEL
// ==========================================================================

$formlabel-color: $brand-tertiary;
$formlabel-font-size: 16px;
$formlabel-line-height: $paragraph-line-height;
$formlabel-margin: 0 0 5px 0;
$formlabel-required-color: $brand-tertiary;

$formlabel-inline-at: l;
$formlabel-inline-width: 200px;
$formlabel-inline-text-align: right;
$formlabel-inline-top-adjust: 6px;

// FORM FIELD
// ==========================================================================

$formfield-font-size: 16px;
$formfield-line-height: 3;
$formfield-color: $brand-tertiary;
$formfield-background: $brand-white;
$formfield-background-focus: $brand-white;
$formfield-border-color: $brand-dark-grey;
$formfield-border-color-focus: $brand-primary;
$formfield-placeholder-color: tint($brand-primary, 50);
$formfield-border-radius: 0;
$formfield-addon-background: $brand-grey-light;

// FANCY OPTIONS
// ==========================================================================

$formfield-fancyopt-padding: 20px 25px 20px 50px;
$formfield-fancyopt-input-top: 27px;
$formfield-fancyopt-input-left: 25px;

$formfield-fancyopt-checked-border-color: $brand-primary;
$formfield-fancyopt-checked-background: lighten($brand-primary, 57%);
$formfield-fancyopt-checked-text-color: $paragraph-color;

// ERROR/SUCCESS STATES
// ==========================================================================

$formfield-error-color: #A4123F;
$formfield-error-background: $brand-white;
$formfield-error-border-color: #A4123F;

$formfield-error-message-font-size: 12px;
$formfield-error-message-color: #FFF;
$formfield-error-message-background: #CF0000;

$formfield-success-color: #22823B;
$formfield-success-background: $formfield-background;
$formfield-success-border-color: #80B816;

$formfield-disabled-color: #666;
$formfield-disabled-background: #EFEFEF;
$formfield-disabled-border-color: $formfield-border-color;

// FORM SUMMARY
// ==========================================================================

$form-summary-text-color: $heading-color;
$form-summary-text-color-on-dark: $heading-color-on-dark;

$form-summary-background-color: $brand-grey-light;
$form-summary-default-highlight-color: $brand-grey-mid;
$form-summary-error-highlight-color: #CF0000;
$form-summary-warning-highlight-color: #FF6600;
$form-summary-info-highlight-color: #76C0DC;
$form-summary-success-highlight-color: $brand-primary;

// FORM SPINNER
// ==========================================================================

$form-loading-spinner-size: 6em;

// TOOLTIPS
// ==========================================================================

$tooltip-bg-color: #000;
$tooltip-text-color: #FFF;
$tooltip-border-radius: 6px;
$tooltip-font-size: 14px;

// ==========================================================================
// Z-INDEX
// ==========================================================================

$z-index-dropdown: 100;
$z-index-offscreen-side: 300;
$z-index-tooltip: 700;
$z-index-shade-behind-header: 800;
$z-index-header: 900;
$z-index-nav-search-bar: 950;
$z-index-shade: 1000;
$z-index-offscreen-over: 1100;
$z-index-modal: 1200;
$z-index-accessible-links: 2000;
$z-index-bp-debug: 9999;
$z-index-pull-to-top: 99999;

// ==========================================================================
// IMAGE SPRITES
// ==========================================================================
$sprite-force-retina: false;
