// ==========================================================================
// CONTENT MODULES
// ==========================================================================

// ==========================================================================
// - MIXINS
// ==========================================================================

@mixin cm-is-shaded() {
	&.is-shaded {
		padding: $module-padding-small;
		background-color: $brand-grey-light;

		&.is-large,
		&.is-medium {
			padding: $module-padding-large;
		}
	}
}

@mixin cm-when-small() {
	&.is-small {
		@content;
	}
}

@mixin cm-when-small-and-above() {
	&.is-small,
	&.is-medium,
	&.is-large {
		@content;
	}
}

@mixin cm-when-medium() {
	&.is-medium {
		@content;
	}
}

@mixin cm-when-medium-and-above() {
	&.is-medium,
	&.is-large {
		@content;
	}
}

@mixin cm-when-large() {
	&.is-large {
		@content;
	}
}

// ==========================================================================
// - BASE
// ==========================================================================

.cm {
	margin: 35px 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	h1 {
		@include font-feature();
		font-size: 24px;
		font-weight: 700;
		color: $brand-tertiary;
		margin: 35px 0 20px;

		.l-complementary & {
			font-size: 20px;
		}
	}

	h2 {
		@include font-feature();
		font-size: 16px;
		font-weight: 700;
		color: $brand-tertiary;
		//margin: 35px 0 20px;

		&.has-border {
			border-bottom: 1px solid $brand-tertiary;
			padding-bottom: 20px;
		}
	}

	dl {
		@include cf();

		&:first-child {
			border-top: 1px solid $brand-tertiary;
			padding-top: 10px;
		}

		dt {
			float: left;
			width: 160px;
			margin: 0;
			@include font-base();
			font-size: 15px;
			font-weight: 300;
			line-height: 30px;
			color: $bom-grey;
		}

		dd {
			float: left;
			width: 400px;
			@include font-base();
			font-size: 15px;
			font-weight: 300;
			line-height: 30px;
			color: $bom-grey;
			margin: 0;
		}
	}

	&.has-top-border {
		border-top: 1px solid $brand-grey-border;
		padding-top: 25px;
	}

	&.has-shaded-bg {
		padding: 25px;
		background-color: $brand-grey-light;
	}

	&.is-alt {
		background-color: $brand-primary;

		h1,
		h2,
		h3,
		p,
		legend,
		.cta {
			color: $brand-white;
		}

		.cta {
			background-color: $brand-black;

			&:hover,
			&:focus {
				background-color: $brand-grey-dark;
			}

			&:active {
				background-color: darken($brand-grey-dark, 10%);
			}
		}
	}
}

// ==========================================================================
// - RICH TEXT
// ==========================================================================

.cm-rich-text {
	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;

		@include bp(xs) {
			&.is-full {
				max-width: none;
				width: 100%;
			}

			&.is-left,
			&.is-right {
				margin: 10px 0;
				max-width: 50%;
			}

			&.is-left {
				float: left;
				margin-right: 40px;
			}

			&.is-right {
				float: right;
				margin-left: 40px;
			}
		}
	}
}

// ==========================================================================
// - IMAGE IN LINK
// ==========================================================================

.cm-image-block-link {
	position: relative;
	display: block;
	text-decoration: none;
	color: $paragraph-color;
	font-weight: 400;

	& > a {
		text-decoration: none;

		p {
			font-weight: 400;
			color: $paragraph-color;
		}
	}

	img,
	.img {
		width: 100%;
		display: block;
		transition: filter $site-base-transition;
	}

	.image {
		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $brand-primary;
			opacity: 0;
			transition: opacity $site-base-transition;

			.is-edit & {
				display: none;
			}
		}
	}

	&:hover,
	&:focus {
		color: $paragraph-color;

		img,
		.img {
			filter: grayscale(100%);
		}

		.image::after {
			opacity: 0.4;
		}

		.faux-link {
			color: $link-color-hover;
		}
	}

	&:active {
		.faux-link {
			color: $link-color-active;
		}
	}
}

// ==========================================================================
// - CONTENT TILE
// ==========================================================================

.cm-content-tile {
	.content {
		margin-top: 30px;
	}

	.image {
		img {
			max-width: 100%;
			display: block;
		}
	}

	.cta {
		margin-top: top($paragraph-margin);
	}

	@include cm-when-medium-and-above() {
		a,
		& > div {
			@include cf();
		}

		.image,
		.content {
			float: left;
			width: 50%;
		}

		.image {
			padding-right: 18px;

			&::after {
				width: calc(100% - 18px);
			}
		}

		.content {
			margin-top: 0;
			padding-left: 18px;
		}
	}

	&.is-shaded {
		background-color: $brand-grey-light;

		.content {

			padding: $module-padding-small;
			padding-top: 0;
			margin-top: 35px;
		}

		&.is-large {
			.content {
				padding: $module-padding-large;
				padding-top: 0;
				margin-top: 50px;
			}
		}
	}
}

// ==========================================================================
// - LINKS
// ==========================================================================

.cm-links {
	ul {
		@include list-reset();
	}

	li {
		margin-top: 25px;

		&:first-child {
			margin: 0;
		}
	}

	.link-item {
		font-weight: 400;
		color: $paragraph-color;
		text-decoration: none;
		display: inline-block;

		strong {
			font-weight: 500;
			color: $link-color-default;
			text-decoration: underline;
			transition: color $site-base-transition;
		}

		p {
			margin: 0;
		}

		.link-item-type {
			font-size: 0.8em;
			text-transform: uppercase;
		}

		&.has-icon {
			padding-left: 35px;
			position: relative;

			.icon {
				width: 20px;
				height: 25px;
				position: absolute;
				top: 1px;
				left: 0;

				path {
					transition: fill $site-base-transition;
				}
			}
		}

		&:hover,
		&:focus {
			strong {
				color: $link-color-hover;
			}

			.icon path {
				fill: $link-color-hover;
			}
		}

		&:active {
			strong {
				color: $link-color-active;
			}

			.icon path {
				fill: $link-color-active;
			}
		}
	}
}

// ==========================================================================
// -- RELATED and POPULAR LINKS
// ==========================================================================

.cm-links-related,
.cm-links-popular {
	@include cm-when-medium-and-above() {
		ul {
			@include cf();
			margin: 0 -18px;
		}

		li {
			float: left;
			width: 50%;
			padding: 0 18px;

			&:first-child,
			&:nth-child(2) {
				margin-top: 0;
			}

			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}
}

// ==========================================================================
// - IMAGE BLOCK
// ==========================================================================

.cm-image {
	figure {
		margin: 0;
	}
}

// ==========================================================================
// - HERO BANNER
// ==========================================================================

.cm-hero-banner {
	background-color: $brand-grey-light;
	position: relative;

	.content {
		padding: 40px 36px;
	}

	&.is-dark {
		background-color: $brand-grey-dark;
		color: $brand-white;

		h1,
		p {
			color: $brand-white;
		}

		.faux-link {
			color: $brand-white;
		}
	}

	.image {
		.intrinsic-el {
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;
		}
	}

	@include cm-when-large() {
		& > a,
		& > div {
			display: block;
			overflow: hidden;

			@include cf();
		}

		.image {
			width: 67%;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;

			.intrinsic-wrap {
				padding: 0;
				height: 100%;
				width: 100%;
			}
		}

		.content {
			width: 33%;
			float: right;
		}

		&.has-full-image {
			position: relative;

			.image {
				width: 100%;
				height: 100%;
				z-index: 1;

				.intrinsic-wrap {
					height: auto;
					position: static;
					padding: 0;
				}
			}

			.content {
				position: relative;
				z-index: 2;
				min-height: 400px;
			}
		}

		&.is-alt-side {
			.image {
				left: auto;
				right: 0;
			}

			.content {
				float: left;
			}

			&.has-full-image {
				.content {
					float: left;
				}
			}
		}
	}
}

// ==========================================================================
// - CHILD LISTING
// ==========================================================================

.cm-child-listing {
	.title {
		margin-bottom: 20px;
	}

	h2 {
		font-size: 32px;
		line-height: 1.125;
		margin-bottom: 30px;

		a {
			text-decoration: none;
			color: $heading-color;

			&:hover,
			&:focus {
				text-decoration: underline;
				color: $link-color-hover;
			}

			&:active {
				color: $link-color-active;
			}
		}
	}

	p {
		margin: 0;
	}

	ul {
		@include list-reset();
		border-top: 1px solid $brand-grey-border;
		padding-top: 20px;

		a {
			display: block;
		}
	}
}

// ==========================================================================
// - CONTENT HERO
// ==========================================================================

.content-hero {
	padding: 75px 0;

	.cm-hero-banner {
		@include cm-when-large() {
			.content {
				min-height: 400px;
			}
		}
	}

	&.has-alt-bg {
		background-color: $brand-grey-light;

		.cm-hero-banner {
			background-color: $brand-white;
		}
	}

	h1 {
		font-size: 32px;
		line-height: 1.125;
	}
}

// ==========================================================================
// - TWITTER FEED
// ==========================================================================

.cm-twitter-feed {
	.twitter-feed-more {
		margin-top: 25px;
		display: inline-block;
	}

	ul {
		@include list-reset();
		border-bottom: 1px solid $brand-grey-border;
	}

	li {
		margin: 0;
		border-top: 1px solid $brand-grey-border;
		padding: 20px 0;

		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}

	.twitter-item-meta {
		font-size: 14px;
		line-height: 1.2857;
		position: relative;
		padding-left: 30px;
		padding-right: 45px;

		.icon {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.twitter-item-name {
		position: relative;
		padding-right: 10px;
		margin-right: 6px;
		display: block;
	}

	.twitter-item-date {
		font-size: 12px;
		line-height: 1.5;
		position: absolute;
		top: 1px;
		right: 0;
	}

	@include cm-when-small-and-above() {
		.twitter-item-name {
			display: inline-block;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 1px;
				background-color: $brand-grey-border;
			}
		}
	}
}

// ==========================================================================
// - HERO LINKS
// ==========================================================================

.cm-hero-links {
	h1 {
		font-size: 32px;
		line-height: 1.6875;
		text-align: center;
		margin-bottom: 30px;

		a {
			text-decoration: none;
			color: $heading-color;

			&:hover,
			&:focus {
				color: $link-color-hover;
				text-decoration: underline;
			}

			&:active {
				color: $link-color-active;
			}
		}
	}

	ul {
		@include list-reset();

		@include bp(xs) {
			@include cf();
			margin: 0 -18px;
		}
	}

	li {
		margin: 0;

		@include bp(xs) {
			width: 50%;
			padding: 0 18px;
			float: left;
		}

		@include bp(l) {
			width: 25%;
		}
	}

	.link-item {
		text-decoration: none;
		color: $heading-color;
		display: block;
		border-top: 1px solid $brand-grey-border;
		padding-top: 3px;
		margin-bottom: 20px;

		.tag {
			font-size: 12px;
			line-height: 1.33;
			font-weight: 500;
			text-transform: uppercase;
			display: block;
			margin: 0 0 20px;

			@include bp(0, xxs) {
				margin-top: 20px;
			}

			@include bp(l) {
				margin-bottom: 40px;
			}
		}

		strong {
			@include font-feature();
			font-size: 24px;
			line-height: 1.33;
			display: block;
			font-weight: 400;
		}

		.faux-link {
			margin-top: 25px;
			display: block;
		}

		&:hover,
		&:focus {
			.faux-link {
				color: $link-color-hover;
			}
		}

		&:active {
			.faux-link {
				color: $link-color-active;
			}
		}

		@include bp(xs) {
			margin-bottom: 40px;
		}
	}
}

// ==========================================================================
// - ACCORDION
// ==========================================================================

.accordion-list {
	padding: 0;
	margin: 0;

	& > li {
		list-style: none;
		border-top: 1px solid $brand-grey-border;
		padding-top: 10px;

		&:first-child {
			border-top: none;
			padding-top: 0;
		}
	}
}

.accordion-item {
	position: relative;
	padding-right: 22px;
	display: block;
	cursor: pointer;
	color: $brand-black;
	text-decoration: none;

	.ec {
		height: 20px;
		width: 20px;
		position: absolute;
		top: 50%;
		margin-top: -10px;
		right: 0;

		&::before,
		&::after {
			content: "";
			width: 14px;
			height: 2px;
			background-color: $link-color-hover;
			position: absolute;
			left: 0;
			top: 9px;
			transform-origin: 50% 50%;
			transition: background-color 150ms, transform 400ms, opacity 200ms;
		}

		&::after {
			transform: rotateZ(90deg);
		}
	}

	&:hover,
	&:focus {
		text-decoration: underline;

		.ec {
			&::before,
			&::after {
				background-color: $link-color-hover;
			}
		}
	}

	&:active {
		.ec {
			&::before,
			&::after {
				background-color: $link-color-active;
			}
		}
	}

	&.is-expanded .ec {
		&::before {
			transform: rotateZ(90deg);
			opacity: 0;
		}

		&::after {
			transform: rotateZ(180deg);
		}
	}

	&.is-disabled {
		cursor: default;

		a,
		.ec {
			display: none;
		}
	}
}

// ==========================================================================
// - CONTACT BAR
// ==========================================================================

.cm-contact-bar {
	position: relative;

	&.is-dark {
		.content {
			h1,
			span {
				color: $brand-white;
			}

			.link {
				color: $link-color-hover;
			}
		}
	}

	// Feature Image
	.feature-image-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.feature-image {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;

		background-position: center center;
		background-size: cover;
	}

	// Main Content Area

	.content {
		position: relative;
		z-index: 1;
		padding: 40px 15px;

		@include bp(m) {
			padding: 40px 60px;
		}

		h1,
		span {
			display: block;
			float: left;
			clear: left;
		}

		.title {
			@include font-feature();
			@include heading-font-size(h5);
			color: $heading-color;
		}

		.title,
		img {
			transition: opacity $site-base-transition;
		}

		.link {
			color: $link-color-hover;
			font-weight: 400;
			margin-top: 6px;
		}

		h1 {
			@include heading-font-size(h2);

			@include bp(l) {
				margin-top: 18px;
			}
		}

		a {
			width: 100%;
			position: relative;
			display: inline-block;
			text-align: left;
			padding-left: 60px;

			@include peicon-dual(40px, 45px, 10px, 0);

			&:hover,
			&:focus {
				.link {
					color: $link-color-active;
					text-decoration: underline;
				}

				.title,
				img {
					opacity: 0.75;
				}
			}

			@include bp(s) {
				width: auto;
			}
		}

		ul {
			list-style: none;
			padding: 0;
			width: 100%;

			@include bp(m) {
				float: left;
			}

			@include bp(l) {
				float: right;
				width: auto;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 45px;
		}

		li {
			margin-top: 20px;
			display: block;
			float: left;
			clear: left;
			width: 100%;

			&:first-child {
				clear: left;
			}

			@include bp(m) {
				clear: none;
				float: left;
				margin-top: 0;

				width: auto;
				margin-left: 30px;

				&:first-child {
					clear: none;
					margin-left: 0;
				}
			}

			@include bp(xl) {
				margin-left: 70px;
			}
		}
	}
}

// ==========================================================================
// - Video
// ==========================================================================

.cm-video {
	.video {
		background-color: $brand-grey-mid;
	}

	.video-desc {
		padding: 25px 0;

		& + .video-transcript {
			border-top: 1px solid $brand-grey-mid;
		}
	}

	.accordion-item {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.video-transcript {
		border-bottom: 1px solid $brand-grey-mid;
	}

	.expandcollapse-content {
		padding-bottom: 15px;
	}

	&.is-shaded {
		.video-desc {
			background-color: $brand-grey-light;
		}
	}
}

// ==========================================================================
// - Icon Title Module
// ==========================================================================

.cm-icon-title {
	@include cm-is-shaded();

	.header {
		img {
			max-width: 28px;
			display: inline-block;
			vertical-align: baseline;
			margin-right: 6px;
		}

		h1 {
			display: inline-block;
		}
	}
}

// ==========================================================================
// - Social Share Module
// ==========================================================================

.cm-social-share {
	ul {
		@include list-horizontal(true);
	}

	li:not(:first-child) {
		margin-left: 15px;
		padding-left: 15px;
		border-left: 1px solid $brand-grey-light;
	}

	a,
	svg {
		width: 24px;

		&:hover,
		&:focus {
			.icon path {
				fill: $brand-primary;
			}
		}
	}
}

// ==========================================================================
// - Subscription Banner
// ==========================================================================

.cm-subscription-banner {
	@include cm-is-shaded();

	.l-padding & .l-padding {
		@include l-padding-reset();
	}

	fieldset {
		margin-top: 0;
		border-top: none;

		legend {
			margin: 0;
		}
	}

	.input-container,
	.title-text-container {
		float: left;
		width: 100%;
	}

	.title-text-container {
		margin-bottom: 30px;

		legend,
		p {
			float: left;
			clear: left;
		}
	}

	.input-container .ctrl-holder {
		position: relative;
	}

	@include cm-when-large() {
		.l-padding {
			padding: 40px 0;
		}

		fieldset {
			width: 100%;
		}

		.ctrl-holder,
		.btn-holder,
		fieldset {
			float: left;
		}

		.title-text-container,
		.input-container {
			width: 50%;
		}

		.input-container {
			.ctrl-holder,
			.btn-holder {
				margin: 0 20px 0 0;

				&:last-child {
					margin-right: 0;
				}
			}

			.ctrl-holder {
				margin-top: 0;
			}

			.btn-holder {
				margin-top: 30px;
			}

			input {
				min-width: 220px;
			}
		}
	}
}

.cm-map {
	ul {
		@include list-reset();
	}

	.h-geo {
		display: none;
	}

	.map-container {
		width: 100%;
		min-height: 500px;
	}
}

// ==========================================================================
// - CM09 Feature Listing
// ==========================================================================

.cm-feature-listing {
	.cm-content-tile {
		.subheading {
			font-size: 14px;
		}

		@include cm-when-medium-and-above() {
			// A reset to make sure this module stays vertical
			.image,
			.content {
				float: none;
				width: 100%;
			}

			.image {
				padding-right: 0;

				&::after {
					width: 0;
				}
			}

			.content {
				margin-top: 30px;
				padding-left: 0;
			}
		}
	}

	.sl {
		margin-top: 0;
		margin-bottom: 0;
	}

	&.is-shaded {
		background-color: $brand-grey-light;
		padding: 40px;
	}

	.view-all-link {
		@include font-feature();
		color: $heading-color;
		font-size: 24px;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $brand-primary;
		}
	}

	.feature-listing-link {
		padding-left: 0;
		padding-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		> strong {
			@include font-feature();
			color: $heading-color;
			font-size: 24px;
			text-decoration: none;
		}

		p {
			margin: $paragraph-margin;
		}

		&:hover,
		&:focus {
			strong,
			span,
			time,
			p {
				color: $brand-primary;
				transition: $site-base-transition;
			}
		}
	}

	li {
		margin-top: 0;

		.feature-listing-link {
			border-top: 1px solid $brand-grey-mid;
			padding-top: 15px;
		}
	}

	ul {
		@include list-reset();
	}

	.subheading {
		font-size: 14px;
		margin: $paragraph-margin;

		strong,
		span {
			color: rgba($paragraph-color, 0.8);
			text-decoration: none;
		}
	}

	@include cm-when-medium-and-above() {
		li:first-child {
			.feature-listing-link {
				border-top: none;
				padding-top: 0;
			}
		}
	}
}

// ==========================================================================
// - CM13 iFrame
// ==========================================================================

.cm-iframe {
	overflow: hidden;
	width: 100%;
	display: block;
}
