.eqh-demo {
	margin: 0;
	padding: 0;
	list-style: none;

	@include bp(s) {
		margin: 0 -5px;
	}

	li {
		margin: 0;
		padding: 0 0 10px 0;

		.item {
			background-color: tint($brand-primary, 80);
			height: 100%;
			padding: 10px;
		}

		@include bp(s) {
			float: left;
			width: 50%;
			padding: 0 5px 10px 5px;
		}

		@include bp(l) {
			width: 33.3%;
		}

		@include bp(xxl) {
			width: 25%;
		}
	}
}
