// ==========================================================================
// SUBLAYOUTS
// ==========================================================================

$sl-item-padding: 5px;

.sl {
	margin: 35px 0 60px;

	.sl-list {
		@include cf();
	}

	.sl-item {
		margin-top: 5px;
		//padding: 0;
		min-height: 1px;

		//&:first-child {
		//	margin-top: 0;
		//}
	}

	&.has-top-border {
		border-top: 1px solid $brand-grey-border;
		padding-top: 35px;
	}

	.l-landing & {
		margin: 60px 0;

		&.has-top-border {
			padding-top: 60px;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include bp(l) {
		margin-top: 35px;

		.sl-list {
			margin: 0 #{-$sl-item-padding} 0;

			&.has-2-items {
				.sl-item {
					width: 50%;
				}

				.sl-item:nth-child(-n+2) {
					margin-top: 0;
				}

				&.has-feature-left,
				&.has-feature-right {
					.sl-item {
						width: 33.3%;
					}
				}

				&.has-feature-left {
					.sl-item:first-child {
						width: 66.6%;
					}
				}

				&.has-feature-right {
					.sl-item:last-child {
						width: 66.6%;
					}
				}
			}

			&.has-3-items {
				.sl-item {
					width: 33.3%;
				}

				.sl-item:nth-child(-n+3) {
					margin-top: 0;
				}
			}

			&.has-4-items {
				.sl-item {
					width: 25%;
				}

				.sl-item:nth-child(-n+4) {
					margin-top: 0;
				}
			}
		}

		.sl-item {
			float: left;
			//padding: 0;
			//margin-top: 10px;
		}

		&:last-child {
			.cm {
				margin-bottom: 0;
			}
		}
	}
}

.sl-list-landing {
	@include list-reset();

	.sl-item {
		margin: 60px 0 0;

		&:first-child {
			margin-top: 0;
		}
	}

	@include bp(l) {
		margin: 0 #{-$sl-item-padding * 2} 100px;

		.sl-item {
			padding: 0 #{$sl-item-padding * 2};
			margin-top: 100px;
		}

		.sl-item:first-child,
		.sl-item:nth-child(2) {
			margin-top: 0;
		}
	}
}
